<!DOCTYPE html>
<html>
<head>
    <title>About Shalini Malik</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>About Me</h1>
    <p>I am Shalini Malik, a DevOps enthusiast with a strong foundation in cloud computing, microservices, and automation. I focus on building scalable and reliable systems leveraging modern DevOps tools.</p>
    
    <h2>Key Skills</h2>
    
    <p><strong>Programming:</strong> Python, Flask, Java</p>
    <p><strong>Cloud & Infrastructure:</strong> AWS (EC2, S3, VPC, EKS), GCP (optional)</p>
    <p><strong>Containerization:</strong> Docker, Kubernetes (k3s, Rancher)</p>
    <p><strong>CI/CD & Automation:</strong> Jenkins, GitHub Actions, Terraform, Ansible</p>
    <p><strong>Version Control:</strong> Git, GitHub</p>
    
    
    <h2>Project Highlights</h2>
   
    <p>Containerized a Python Flask web application and deployed it on Kubernetes cluster.</p>
    <p>Set up CI/CD pipeline with Jenkins for automated builds and deployments.</p>
    <p>Worked with AWS services to host applications and manage cloud resources.</p>
   
    
    <p>Connect with me: <a href="https://github.com/shalini253" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/shalini888" target="_blank">LinkedIn</a></p>
    
    <a href="/">Back to Home</a>
</body>
</html>